<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.openclassrooms.realestatemanager">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".appartmentlist.MainActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SECOND ACTIVITY -->
        <activity
            android:name=".apartmentdetail.SecondActivity"
            android:label="@string/toolbar_appartment_description"
            android:parentActivityName=".appartmentlist.MainActivity"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".appartmentlist.MainActivity" />
        </activity>

        <activity android:name=".apartmentdetail.ViewPagerPhotoActivity" />

        <!-- CREATION ACTIVITY -->
        <activity
            android:name=".apartmentcreator.CreateActivity"
            android:label="@string/toolbar_apartment_creation"
            android:parentActivityName=".appartmentlist.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".appartmentlist.MainActivity" />
        </activity>

        <!-- MODIFIER ACTIVITY -->
        <activity
            android:name=".apartmentmodifier.ModifierActivity"
            android:label="@string/toolbar_apartment_modification"
            android:parentActivityName=".appartmentlist.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".appartmentlist.MainActivity" />
        </activity>

        <activity
            android:name=".apartmentmodifier.ModifierUserActivity"
            android:label="@string/activity_user_modifier_title"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <!-- PROFILE MANAGER ACTIVITIES -->
        <activity android:name=".photomanager.PhotoModifierActivity" />

        <!-- PROFILE MANAGER ACTIVITIES -->
        <activity
            android:name=".profilemanager.ProfileManagerActivity"
            android:label="@string/activity_user_modifier_title"
            android:parentActivityName=".appartmentlist.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".appartmentlist.MainActivity" />
        </activity>

        <activity
            android:name=".profilemanager.ProfileManagerDetailActivity"
            android:label="@string/user_profile_title"
            android:parentActivityName=".profilemanager.ProfileManagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".appartmentlist.MainActivity" />
        </activity>


    </application>

</manifest>